.color {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;

  > label {
    display: flex;
    flex-direction: row;
    column-gap: 0.25rem;
  }
}

.sample {
  width: 16px;
  height: 16px;
  border: thin black solid;
  border-radius: 4px;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  > div {
    position: absolute;
  }
}

.popup {
  background-color: white;
  border: thin black solid;
  border-radius: 4px;
  padding: 0.35rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
