.wrapper {
  background-color: white;
  border-radius: 8px;

  div:first-child {
    border-bottom: thin black solid;
  }
}

.controls {
  width: max-content;
  height: 100px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  label {
    display: flex;
    column-gap: 0.5rem;
  }
}
