.inspector {
  width: 100%;
  height: 200px;
  background-color: lightgray;

  &> div {
    height: 100%;
    overflow-y: auto;

    &> div, > label {
      padding: 0 0.5rem 0 0.5rem;
    }
  }
}

.gameObject {
  display: grid;
  grid-template-rows: max-content minmax(0,1fr) max-content;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &> div:nth-child(2) {
    overflow-y: auto;
  }
}

.transform {
  padding: 0.25rem 0;
}

.overriden {
  color: #6060FF;
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  border-bottom: black thin solid;

  &> div:first-child {
    display: flex;
    column-gap: 0.15rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  column-gap: 0.25rem;
  padding-bottom: 1rem;

  > button {
    width: max-content;
    height: max-content;
  }

  > div:first-child {
    background-color: darkgray;
    border: solid black thin;
  }

  > div:nth-child(2) {
    padding-left: 1rem;
  }
}

.componentTitle {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.15rem 0.25rem;
  position: sticky;
  top: 0;
}

.property {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
}