.layout {
  display: flex;
  flex-direction: column;
  align-items: normal;

  > div:first-child {
    background-color: darkgray;
    border: black thin solid;
  }

  > div:nth-child(2) {
    background-color: lightgray;
    margin-left: 2rem;
    padding-top: 0.5rem;
  }

  > select {
    width: max-content;
  }

  label {
    display: flex;
    align-items: center;
    column-gap: 0.35rem;
    width: max-content;
  }
}

.shape {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}