.folder {
  background-color: white;

  &.droppable * {
    background-color: lightblue;
  }
}

.layout {
  display: grid;
  grid-template-rows: max-content minmax(0,1fr);
  overflow-y: auto;
}

.project {
  padding-left: 0.5rem;
}

.collapser {
  width: 5px;
  height: 5px;
  border-top: thin black solid;
  border-right: thin black solid;
  transform: rotate(45deg);

  &.open {
    transform: rotate(135deg);
  }
}

.item {
  display: grid;
  column-gap: 0.35rem;
  align-items: center;
  grid-template-columns: max-content minmax(0,1fr);
  position: sticky;
  top: 0;
  height: 21px;
  background-color: white;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}