.container {
  user-select: none;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  user-select: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.selected {
    background-color: lightgray;
  }
}
