.contextmenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 100;

  div {
    height: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    user-select: none;

    &:hover {
      background-color: gray;
    }
  }
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}