.contextmenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  padding-top: 8px;
  padding-bottom: 8px;

  border: thin black solid;

  box-sizing: border-box;
  
  >div >div {
    height: max-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    user-select: none;

    &:hover {
      background-color: gray;
    }
  }
}

.above {
  transform: translateY(-100%);
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}