.droppable {
  background-color: lightblue;
}

.layout {
  display: grid;
  grid-template-rows: max-content minmax(0,1fr);
}

.toolbar {
  padding: 0.5rem;
  border-bottom: black thin solid;
}

.project {
  padding-left: 0.5rem;
  overflow-y: auto;
}
