.selected {
  background-color: lightgray;
}

.scene {
  border-bottom: thin black solid;
}

.sceneTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin black solid;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem
}