.selected {
  background-color: lightgray;
}

.scene {
  border-bottom: thin black solid;
  display: grid;
  grid-template-rows: max-content minmax(0,1fr);
}

.sceneTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin black solid;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem
}

.tree {
  overflow-y: auto;
}