.item {
  display: grid;
  grid-template-columns: 4px minmax(0,1fr);

  &.selected {
    background-color: lightgray;
  }

  &.prefab {
    color: blue
  }

  > div:first-child {
    width: 100%;
    height: 100%;
  }

  > div:nth-child(2) {
    display: flex;
    column-gap: 3px;
    flex-direction: row;
    align-items: center;
  }
}
