.particle {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;

  > * {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
  }
}

.options {
  position: unset;

  > button {
    padding: unset;
    background-color: unset;
    color: black;
    border: none;
  }
}
