.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 200px;
  grid-template-rows: minmax(0, 1fr);
  width: 100%;
  height: 100%;
  user-select: none;

  >div:first-child {
    display: grid;
    grid-template-rows: minmax(0, 1fr) max-content;
    grid-template-columns: minmax(0, 1fr);
    overflow: hidden;
  }
}

.sidebar {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  font-size: 14px;
}
