.wrapper {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);
  
  background-color: white;
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;

  border: black thin solid;
  border-radius: 8px;

  >div:first-child {
    border-bottom: thin black solid;
  }
}

.properties {
  width: 100%;
  min-width: 100px;
  height: 100%;
  padding: 0.25rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  overflow-y: auto;

  label {
    display: flex;
    column-gap: 0.5rem;
  }
}

.title {
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;

  padding-left: 1rem;
  padding-right: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
}

.float {
  text-align: right;
}

.vector {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
  align-items: center;

  input {
    width: 2.5rem;
    text-align: right;
  }
}