.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  row-gap: 0.25rem;
  background-color: white;
  width: max-content;
  padding: 0.5rem;
  border: thin black solid;
  user-select: none;
  transform: translateX(-100%);
}